<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.dao.DataDao">

   <insert id="recordSystemInfo">
      INSERT INTO t_machine_info_sim ( `ip`, `cpu_count`, `total_mem`, `free_mem`, `available_mem`, `load_info` )
      VALUES
         (#{data.ip}, #{data.cpuCount},#{data.memTotal},#{data.memFree},#{data.memAvailable},#{data.loadInfo})
   </insert>

</mapper>
